params {

//Input Files
beds_initial = "path/to/*.bed"                                   // Initial plink's bed files (assumes the presence of bim/fam companion files)
Consent = "path/to/exclusion_list.samples"                       // list of consent retracted individuals with #FID IID headers. 

//Reference Files
REF_projection = "/path/to/gnomad.genomes.v3.1.2.hgdp_tgp.chr*.vcf.bgz"      // Reference File for PCA projection (from https://gnomad.broadinstitute.org/downloads#v3-hgdp-1kg)
REF_ID = 'path/to/HGDP_1KG.PassedQC.id'                                      // Reference File unrelated QCed individuals for PCA projection (from https://gnomad.broadinstitute.org/downloads#v3-hgdp-1kg)
chain =  "path/to/hg19ToHg38.over.chain.gz"                                  // liftOver chain file from hg19 to hg38 (from https://hgdownload.soe.ucsc.edu/goldenPath/hg38/liftOver/hg38ToHg19.over.chain.gz)
genome = "path/to/Homo_sapiens.GRCh38.fa"                                    // Fasta Reference file (from https://www.ncbi.nlm.nih.gov/datasets/genome/GCA_000001405.28/)

// 
OutDir="path/to/outdir                             // Path to output dir
vcf2geno_exec="path/to/vcf2geno"                   // Path to vcf2geno from Laser (https://csg.sph.umich.edu/chaolong/LASER/)
trace_exec="/path/to/trace"                        // Path to trace from Laser (https://csg.sph.umich.edu/chaolong/LASER/)
// bcftools plink1.9 and plink2.0 are assumed to be in path

// Parallelisation option
threads_S4="5"
threads_S5="12"
ind_trace_batch='100'      // N batches for projection [2,100]


// Parameters
Merged_name = "CAG"       // basename of the Project files
K=4                       // Number of PC to consider for ancestry Andjustement in LRT
threshold="0.05"          // threshold in LRT

Rsq=0.9                   // LD Pruning Projection Reference
step=100                  // LD Pruning Projection Reference
window=1000               // LD Pruning Projection Reference
max_allelefreq=0.95       // Reference File filtering
min_allelefreq=0.05       // Reference File filtering
MISSING_CUTOFF=0.001      // Reference File filtering
King_cutOff="0.0442"      // Relatedness Threshold to determine unrelated individuals for LRT

}

process {
 withLabel: 'S0_preprocess' {
 cpus = 3
  time = "1h"
  memory = "12GB"
    }
  withLabel: 'S1_LiftOver' {
 cpus = 3
  time = "1h"
  memory = "12GB"
    }
    withLabel: 'S2_Alignement_S3_HHmissing' {
 cpus = 3
  time = "1h"
  memory = "12GB"
    }
     withLabel: 'S4_Merge' {
 cpus = 5
  time = "1h"
  memory = "20GB"
    }
 withLabel: 'REF_projection_prep' {
 cpus = 12
  time = "12h"
  memory="15GB"
 }
 withLabel: 'S5_PCAprojection_prep' {
 cpus = 12
  time = "24h"
  memory="32GB"
    }
     withLabel: 'unrelated' {
 cpus = 12
 memory="32G"
  time = "24h"
    }
 withLabel: 'S5_PCAprojection' {
 cpus = 12
  time = "24h"
  memory = "16GB"
    }
     withLabel: 'S5_PCAtest' {
 cpus = 1
  time = "24h"
  memory = "10GB"
    }
    withLabel: 'S5_Filtering' {
   cpus = 1
   time = "13h"
   memory = "12GB"
    }

  executor = "slurm"
  	// can add --account=[] to cluster Options
  clusterOptions = ""
  cpus = 1
  time = "12h"
  memory = "10GB"
}
executor {
        $slurm {
              queueSize = 500
              jobName = { "GP_test" }
        }
        $local {
                cpus = 1
        }
}
