params {
//Files
vcf="path/to/file"
ref="path/to/file"           // vcf of the TOPMed bravo freeze (assumes a .tbi index is present
OutDir="out/topmed"          // output directory


//Parameters
Batch_length=25000           // number of individual per batch (currently TOPMed server has a 25000 individual limit)
name=''                       // name of project
Threshold=0.2                 // Maximum difference in frequency

}

process {
 withLabel: 'Testing' {
 cpus = 1
  time = "24h"
  memory = "12GB"
    }
  withLabel: 'Chromosome_split' {
 cpus = 1
  time = "24h"
  memory = "12GB"
    }
  executor = "slurm"
  	// can add --account=[] to cluster Options
  clusterOptions = ""
  cpus = 1
  time = "12h"
  memory = "10GB"
}
executor {
        $slurm {
              queueSize = 500
              jobName = { "TOPMed_precheck" }
        }
        $local {
                cpus = 1
        }
}
