/*
* Author: Peyton McClelland <peyton.mcclelland@mail.mcgill.ca>
* Year: 2024
*/

params {

  step1_genotype = "path_to/genotype/all.common_independent_snps.pgen"

  //covariate_file = "CAG_flagship_Pheno/GWAS_ALL_covariates.tsv"
  covariate_file = "path_to/covariates.tsv"
  
  phenotype_file = "path_to/phenotype.tsv"
  phenotype_summary = "path_to/phenotype_summary.csv" // csv with phenotype names described in first column

  cat_covar = "Array" // categorical covariate column names
  bsize = 1000
  out_dir = "HLA_regenie"

  step2_genotype="path_to/imputed_HLA.vcf.gz"
  p_threshold=0.05

  out_prefix="association"
  
  threads_step1 = 2
}

apptainer {
	enabled = true
	autoMounts = true
}


process {
withLabel: 'step1' {
  container = ""
  cpus = 1
  time = "4h"
  memory = "8GB"
    }

  executor = "slurm"
  clusterOptions = "--account=<ACCOUNT>"
  cpus = 2
  time = "1h"
  memory = "8GB"
}

executor {
        $slurm {
              queueSize = 500
              jobName = { "regenie" }
        }
        $local {
                cpus = 1
        }
}
